@using ASP.NET_Final_Project.Models;
@model BrowseByLocation

@{
    ViewBag.Title = "Browse By Location";
}

<section id="main-author">
    <h2 class="author-header text-center">Browse By Location</h2>
    <div class="bottom-line"></div>
    <div class="inner-container">
        @Html.Partial("~/Views/Shared/_Nav.cshtml")
        <div class="author-table">
            @using (Html.BeginForm("Location", "BrowseByLocation", FormMethod.Post))
            {
                @Html.DropDownListFor(a => a.LocationSelected, Model.AllLocations, "Select a Branch", new {onchange = "this.form.submit();", @class = "author-select"})
            }
             @if (Model.Books.Length != 0)
             {
                 @Html.Partial("~/Views/Shared/_BooksOnHand.cshtml", Model)
             }
        </div>
        <div class="author-table">
            @if (Model.Books.Length != 0)
            {
                @Html.Partial("~/Views/Shared/_LocationTable.cshtml", Model)
            }
        </div>
    </div>

    <footer class="text-center">
        <p>&copy; 2020 - Ryan Roemer's Final ASP.NET Project</p>
    </footer>
</section>